@import "fonts.css";
/* reset stupid all caps for headings + lame shadow */
.reveal h1, .reveal h2, .reveal h3, .reveal h4 {
        text-shadow: none;
        text-transform: none;
        font-family: 'FrancoisOneRegular', Arial, serif;
        font-weight: 400;
}

.reveal section img {
    box-shadow: none;
    border: none;
    background: none;
    margin: 0px;
    max-width: 400px;
    width: 50%;
    max-height: 400px;
    min-height: 300px;
    height: 50%;
}

.reveal section pre {
    box-shadow: none;
    font-size: 36px;
}

.white h1, .white h2, .white h3 {
    color: #003056;
}

.red {
    color: red !important;
}

.green {
    color: green !important;
}

.box {
    background-color: rgba(0,0,0,0.5);
}
